body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .Sign_up {
    max-width: 400px;
    width: 100%;
    margin: 150px auto;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .Sign_up1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #14213D;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #14213D;
  }
  
  .validation-message {
    color: red;
    margin-top: 10px;
  }
  